.marca{
    color: red;
    text-align: center;
    font-size: 50px;
    margin: 20px;
}
.font{
    font-family: Verdana;
}

.right{
    float: right; 
}

.width50{
    width: 50%;
}

.list{
    list-style: none;
    font-weight: bold;

}

.teams{
    padding-left: 20px;
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
